/* common nav-bar */
#navbar-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #333; /* Background color of the navbar */
    color: #fff; /* Text color */
    padding: 10px; /* Add padding for spacing */
    display: flex;
    justify-content: space-between; /* Align elements to the left and right */
    align-items: center;
   
}

/* Style for the home icon on the left */
.home-icon , .rules {
    color: #fff;
    text-decoration: none;
    margin-right: 20px; /* Add spacing between home icon and other icons */
}

/* Style for the right icons */
.right-icons {
    display: flex;
}

/* Style for each right icon link */
.right-icons a {
    color: #fff;
    text-decoration: none;
    margin-right: 10px; /* Add spacing between icons */
}

/* Change color of links on hover (optional) */
.right-icons a:hover, .home-icon:hover {
    color: #00f; /* Change to your desired hover color */
}
